<%= javascript_include_tag "forms" if ::Rails.application.assets.find_asset("uielements.js") %>
<%= stylesheet_link_tag "forms" if ::Rails.application.assets.find_asset("uielements.css") %>
<% if @termo.blank? %>
<div class="wrapper wrapper-content">
    <div class="container">
      <div class="row center">
        <div class="col-lg-12">
          <div class="ibox">
            <center>
              <img alt="image" src="<%= image_path 'warning.png' %>" width="100" height="100" />
            </center>
            <h2 class="text-center" style="color: #525a61;">NENHUM TERMO DE USO VIGENTE!</h2>
            <p class="text-center">Por favor, entre em contato com o suporte para solucionar esse imprevisto.</p>
            <center>
              <%= link_to(destroy_usuario_session_path, style: 'color: #000', method: :delete) do %>
                    <i class="fa fa-sign-out"></i> Sair
              <% end %>
            </center> 
          </div>
        </div>
      </div>
    </div>
  </div>
<%else%>
  <div class="row center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="scroll_content">
            <br><br><br>
            <% if !notice.nil? && notice == "Erro ao aceitar termos de uso, favor comunicar ao suporte o imprevisto!" %>
              <div class="alert alert-info">
                <p align="center" id="notice"><%= notice %></p>
              </div>
            <% end %>
            <div id="termos_de_uso" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <%== @termo.take.termos if !@termo.take.termos.blank? %> 
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= link_to "✔ Aceitar termos e continuar", aceitar_termos_aceite_termos_path(termos_uso_id: @termo.take.id), class: 'btn btn-primary btn-rounded btn-block flutuante', title: 'novo' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
<style type="text/css">
  .center {
    margin: auto;
    width: auto;
    top: auto;
    transform: translateY(-2%);
    position: auto;
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    span, blockquote{ font-size: 8px; }
    img {
      width: 80% !important; 
      height: auto !important; 
      float: none;
      text-align: center;
    }
  }
</style>

<script type="text/javascript">
  $(function() {
    $('.scroll_content').slimscroll({
      height: '570'
    })
  });
</script>
