<%= form_for(@permissoes_acesso) do |f| %>
  <% if @permissoes_acesso.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" style="width: 400px;">
      <ul>
      <% @permissoes_acesso.errors.full_messages.each do |message| %>
        <li><%= message %>.</li><br>
      <% end %>
      </ul>
    </div>
  <% end %>
    <form class="form-horizontal">
        <div class="row">

            <div class="field form-group col-lg-6">
              <%= f.label :usuario_id, "Usuário" %> <e style="color:red">*</e>
              <%= f.select(:usuario_id, options_for_select(Usuario.all.collect {|e| [e.email, e.id]}), { prompt: "Selecione o Usuário" }, {class: "form-control selectpicker", "data-live-search" =>"true", :style => "width: 100%", :required => true}) %>
            </div>

            <div class="field form-group col-lg-6">
              <%= f.label :modulo_id, "Módulo" %> <e style="color:red">*</e>
              <%= f.select(:modulo_id, options_for_select(Modulo.where(ativo: true, empresa_id: session[:empresa_id]).collect {|e| [e.descricao, e.id]}, @permissoes_acesso.modulo_id), { prompt: "Selecione o Módulo" }, {class: "form-control selectpicker", "data-live-search" =>"true", :style => "width: 100%", :required => true}) %>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <%= button_tag(type: 'submit', class: "btn btn-primary", title: 'Salvar') do %>
                    <i class="fa fa-save"></i> Salvar
                <% end %>   
            </div>
        </div>

    </form>
<% end %>


