<div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 5px;">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <h2>Permissões de Acesso</h2>
    </div>
    <div class="col-lg-1 col-lg-push-1 col-md-1 col-md-push-1 col-sm-1 col-sm-push-1 col-xs-2 col-xs-pull-1">
        <h2><%= link_to(new_permissoes_acesso_path, class: 'btn btn-primary btn-outline btn-rounded') do %>
            <i class="fa fa-plus"></i> Novo
        <% end %></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <% if !notice.nil? %>
                <div class="alert alert-info">
                    <p align="center"><%= notice %></p>
                </div>
            <% end %>
        </div>
        <div class="col">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive" style="padding-bottom: 80px;">
                        <table class="table table-hover">
                            <thead class="table table-bordered">
                                <tr>
                                    <th>Usuário</th>
                                    <th>Módulo</th>
                                    <th colspan="3"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @permissoes_acessos.each do |permissoes_acesso| %>
                                <tr>
                                    <td><%= permissoes_acesso.usuario.email if !permissoes_acesso.usuario.nil? %></td>
                                    <td><%= permissoes_acesso.modulo.descricao if !permissoes_acesso.modulo.nil?  %></td>
                                    <div>
                                        <td>
                                            <%= link_to '', permissoes_acesso, class: 'fa fa-search fa-sm btn btn-primary btn-rounded', title: 'Visualizar' %>
                                        </td>
                                        <td>
                                            <%= link_to '', edit_permissoes_acesso_path(permissoes_acesso), class: 'fa fa-pencil-square-o fa-sm btn btn-warning btn-outline btn-rounded', title: 'Editar'%>
                                        </td>
                                        <td>
                                            <%= link_to 'Deletar', permissoes_acesso, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse registro ?' }, :class => 'btn btn-default', :title => 'Deletar' %>
                                        </td>
                                    </div>
                                  </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>