<%= form_for(@transferencia) do |f| %>
  	<% if @transferencia.errors.any? %>
	    <div id="error_explanation" class="alert alert-danger" style="width: 400px;">
	      <ul>
	        <% @transferencia.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
  	<% end %>

  	<form class="form-horizontal">
    	<div class="row">
			<div class="field form-group col-lg-6">
				<%= f.label :conta_origem, "Conta Origem" %>
				<%= f.select :conta_origem, options_for_select(Conta.where(:empresa_id => session[:empresa_id], :ativo => true).collect {|e| ["#{e.pessoa.nome} #{e.pessoa.sobrenome} - 000#{e.agencia}-#{e.digito_agencia}, 00#{e.numero_conta}-#{e.digito_conta}", e.id]}), { prompt: "Selecione o Conta" }, {:class => "form-control selectpicker", :style => "width: 100%", :required => true} %>
			</div>
			<div class="field form-group col-lg-6">
				<%= f.label :conta_destino, "Conta Destino" %>
				<%= f.select :conta_destino, options_for_select(Conta.where(:empresa_id => session[:empresa_id], :ativo => true).collect {|e| ["#{e.pessoa.nome} #{e.pessoa.sobrenome} - 000#{e.agencia}-#{e.digito_agencia}, 00#{e.numero_conta}-#{e.digito_conta}", e.id]}), { prompt: "Selecione o Conta" }, {:class => "form-control selectpicker", :style => "width: 100%", :required => true} %>
			</div>
			<div class="field form-group col-lg-6">
				<%= f.label :tipo_transferencia, "Tipo Transferência" %>
				<%= f.select :tipo_transferencia, options_for_select(["TED", "DOC"]), { prompt: "Selecione o Tipo" }, {class: "form-control selectpicker", "data-live-search" =>"true", :style => "width: 100%", :required => true} %>
			</div>
			<% if params[:action] == "new" %>
				<div class="field form-group col-lg-6 ">
				    <%= f.label :valor_transferencia, 'Valor Transferência'%> <e style="color:red;">*</e>
				    <%= f.number_field :valor_transferencia, value: number_to_currency(f.object.valor_transferencia.to_f, delimiter: ',', unit: 'R$'), :step => 0.001, :class => 'form-control moeda', :required => true, id: "valor_transferencia" %>
				</div>
			<% else %>
				  <div class="field form-group col-lg-6 ">
				    <%= f.label :valor_transferencia, 'Valor Transferência'%> <e style="color:red;">*</e>
				    <%= f.number_field :valor_transferencia, :class => 'form-control moeda', :required => true %>
				  </div>
			<% end %>
			<div class="field form-group col-lg-6">
				<%= f.label :data_transferencia, "Data Transferência" %>
				<%= f.text_field :data_transferencia, :class => "form-control", type: "date", :required => true, autofocus: true %>
			</div>
			<div class="field form-group col-lg-6">
				<%= f.label :taxa_transferencia, "Taxa Transferência" %>
				<%= f.text_field :taxa_transferencia, value: number_to_currency(@taxa_transferencia), :class => "form-control", :required => true, autofocus: true, readonly: true, id: "taxa_transferencia" %>
			</div>
			<div class="field form-group col-lg-12">
				<%= label_tag :senha, "Senha de acesso" %>
				<%= password_field_tag :senha, nil, :class => "form-control", :required => true, autofocus: true %>
			</div>
			<br>
			<div class="col-lg-7">
			    <%= button_tag(type: 'submit', class: "btn btn-sm btn-primary", data: { disable_with: "Transferindo..." }, title: 'Confirmar', id: "botao_transferencia") do %>
			        <i class="fa fa-check"> Confirmar</i>
			    <% end %>&nbsp;&nbsp;&nbsp;
			    <%= link_to(transferencias_path, class: "btn btn-sm btn-primary", title: 'Voltar') do %>
			        <i class="fa fa-reply"> Voltar</i>
			    <% end %>&nbsp;&nbsp;&nbsp;
			    <% if params[:action] == "edit" %>
			        <%= link_to(@transferencia, class: "btn btn-sm btn-primary", title: 'Comprovante') do %>
			          <i class="fa fa-search"> Comprovante</i>
			        <% end %>
			    <% end %>
		  	</div>
		</div>
	</form>
<% end %>

<script type="text/javascript">
  	$(document).ready(function() {
  		$("#valor_transferencia").keyup(function() {
			var valor_transferencia = $("#valor_transferencia").val();
			if (valor_transferencia > 1000) {
				$("#taxa_transferencia").val("R$ 10,00");
			}
		});


		var mask = {
		    money: function() {
		      var el = this
		      ,exec = function(v) {
		        v = v.replace(/\D/g,"");
		        v = new String(Number(v));
		        var len = v.length;
		        if (1== len)
		        v = v.replace(/(\d)/,"0.0$1");
		        else if (2 == len)
		        v = v.replace(/(\d)/,"0.$1");
		        else if (len > 2) {
		        v = v.replace(/(\d{2})$/,'.$1');
		        }
		        return v;
		      };
		      setTimeout(function(){
		      el.value = exec(el.value);
		      },1);
		    }
	  	}

		$(function(){
			$('.moeda').bind('keypress',mask.money)
		});
  	});
</script>