<div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 5px;">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <h2>Transferencias</h2>
    </div>
    <div class="col-lg-1 col-lg-push-1 col-md-1 col-md-push-1 col-sm-1 col-sm-push-1 col-xs-2 col-xs-pull-1">
        <h2><%= link_to(new_transferencia_path, class: 'btn btn-primary btn-outline btn-rounded') do %>
            <i class="fa fa-plus"></i> Novo
        <% end %></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <% if !notice.nil? %>
            <div class="alert alert-info">
                <p align="center" id="notice"><%= notice %></p>
            </div>
            <% end %>
        </div>
        <div class="col">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive" style="padding-bottom: 80px;">
                        <table class="table table-hover">
                            <thead class="table table-bordered">
                                <tr>
                                    <th>Conta Origem</th>
                                    <th>Conta Destino</th>
                                    <th>Valor Transferência</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @transferencias.each do |transferencia| %>
                                    <tr>
                                        <td><%= !transferencia.conta_origem.nil? ? "000#{Conta.find(transferencia.conta_origem).agencia}-#{Conta.find(transferencia.conta_origem).digito_agencia}, 00#{Conta.find(transferencia.conta_origem).numero_conta}-#{Conta.find(transferencia.conta_origem).digito_conta}" %></td>
                                        <td><%= !transferencia.conta_destino.nil? ? "000#{Conta.find(transferencia.conta_destino).agencia}-#{Conta.find(transferencia.conta_destino).digito_agencia}, 00#{Conta.find(transferencia.conta_destino).numero_conta}-#{Conta.find(transferencia.conta_destino).digito_conta}" %></td>
                                        <td><%= number_to_currency(transferencia.valor_transferencia) %></td>
                                        <td>
                                            <div class="input-group-btn">
                                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Ações <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <%= link_to 'Comprovante', transferencia, :class => 'btn btn-default', :title => 'Visualizar' %>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>