<div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 5px;">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h2>Detalhes da Transferência</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <% if !notice.nil? %>
                <div class="alert alert-info">
                    <p align="center" id="notice"><%= notice %></p>
                </div>
            <% end %>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox product-detail">
                    <div class="ibox-content">
                        <div class="row">
                            <h3>Informações:</h3>
                            <dl class="small m-t-md">
                                <div class="col-lg-6" style="font-size: 12px;">
                                    <dt>Conta Origem:</dt>
                                    <dd>
                                        <%= !@transferencia.conta_origem.nil? ? "#{Conta.find(@transferencia.conta_origem).pessoa.nome} #{Conta.find(@transferencia.conta_origem).pessoa.sobrenome}, 000#{Conta.find(@transferencia.conta_origem).agencia}-#{Conta.find(@transferencia.conta_origem).digito_agencia}, 00#{Conta.find(@transferencia.conta_origem).numero_conta}-#{Conta.find(@transferencia.conta_origem).digito_conta}" : nil %>   
                                    </dd>
                                    <br>
                                    <dt>Conta Destino:</dt>
                                    <dd>
                                        <%= !@transferencia.conta_destino.nil? ? "#{Conta.find(@transferencia.conta_origem).pessoa.nome} #{Conta.find(@transferencia.conta_origem).pessoa.sobrenome}, 000#{Conta.find(@transferencia.conta_destino).agencia}-#{Conta.find(@transferencia.conta_destino).digito_agencia}, 00#{Conta.find(@transferencia.conta_destino).numero_conta}-#{Conta.find(@transferencia.conta_destino).digito_conta}" : nil %>   
                                    </dd>
                                    <br>
                                    <dt>Valor Transferência:</dt>
                                    <dd>
                                        <%= number_to_currency(@transferencia.valor_transferencia) %>   
                                    </dd>
                                    <br>
                                    <dt>Data Transferência:</dt>
                                    <dd>
                                        <%= l(@transferencia.data_transferencia) %>   
                                    </dd>
                                    <br>
                                    <dt>Taxa Transferência:</dt>
                                    <dd>
                                        <%= number_to_currency(@transferencia.taxa_transferencia) %>   
                                    </dd>
                                    <br>
                                    <dt>Tipo Transferência:</dt>
                                    <dd>
                                        <%= @transferencia.tipo_transferencia %>   
                                    </dd>
                                    <br>
                                </div>
                            </dl>
                            <div class="col-lg-7">
                                <%= link_to(transferencias_path, class: "btn btn-sm btn-primary", title: 'Voltar') do %>
                                    <i class="fa fa-reply"> Voltar</i>
                                <% end %>&nbsp;&nbsp;&nbsp;
                                <%= link_to(new_transferencia_path, class: 'btn btn-sm btn-primary') do %>
                                    <i class="fa fa-plus"></i> Nova Transferência
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

