<h2>Reenviar instruções de desbloqueio</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
	<p id="notice"> 
		<center class="alert-info">      
			<%= devise_error_messages! %> 
		</center>
	</p>
	<div class="form-group">
		<%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder=>"Email", :required => :true  %>
	</div>

	<div class="actions">
		<%= f.submit "Reenviar instruções de desbloqueio" %>
	</div>
<% end %>

<%= render "usuarios/shared/links" %>
