<h2>Editar Usuário</h2>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <p id="notice"> 
    <center class="alert-info">      
      <%= devise_error_messages! %> 
    </center>
  </p>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder=>"Senha com no mínimo 6 caracteres"%>
    <i>(Deixe o campo em branco caso não queira alterar)</i>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder=>"Digite novamente sua senha"%>
  </div>

  <div class="form-group">
    <%= f.password_field :current_password, autocomplete: "off", :class => "form-control",:required => :true,:placeholder=>"Senha atual"  %>
    <i>(Precisamos de sua senha atual para salvar as alterações)</i>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar", :class => "btn btn-primary block full-width m-b" %>
  </div>
<% end %>
<%= link_to "Voltar", :back, :class => "btn btn-sm btn-white btn-block" %>