<% if !devise_error_messages!.blank? %>
  <p id="notice"> 
    <div class="alert alert-warning" style="text-align: center;"><%= devise_error_messages! %> </div>
  </p>
<% end %>

<h2>Cadastre-se</h2><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder=>"Email",:required => :true%>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder=>"Senha", :required => :true %>
    <% if @minimum_password_length %>
      <em>(Senha com no mínimo <%= @minimum_password_length %> caracteres)</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder=>"Digite novamente sua senha", :required => :true %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar", :class => "btn btn-primary block full-width m-b" %>
  </div>
<% end %>

<%= render "usuarios/shared/links" %>
