<h2>Página inicial onde terá a apresentação da empresa em breve</h2>

<div class="fab">
  <button class="main">
      <i class="fa fa-file" id="barra_menu"></i>
  </button>
  <ul>
    <li>
      <!-- <label for="opcao1">Carrinho</label> -->
      <button id="opcao1" class="opcao-fab">
        <a href="/landing"><i class="fa fa-file"></i></a>
      </button>
    </li>
    <li>
      <!-- <label for="opcao2">Portal</label> -->
      <button id="opcao2" class="opcao-fab">
        <a href="/"><i class="fa fa-home"></i></a>
      </button>
    </li>
    <li>
      <!-- <label for="opcao3">Contato</label> -->
      <button id="opcao3" class="opcao-fab">
        <a href="tel:+55<%= session[:telefone] %>"><i class="fa fa-phone"></i></a>
      </button>
    </li>
    <li>
      <!-- <label for="opcao4">Sair</label> -->
      <button id="opcao4" class="opcao-fab">
        <a id="deslogar" rel="nofollow" data-method="delete" href="/usuarios/sign_out"><i class="fa fa-sign-out"></i></a>
      </button>
    </li>
  </ul>
</div>