<%= form_for(@conta) do |f| %>
  	<% if @conta.errors.any? %>
	    <div id="error_explanation" class="alert alert-danger" style="width: 400px;">
	      <ul>
	        <% @conta.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
  	<% end %>

  	<form class="form-horizontal">
    	<div class="row">
			<div class="field form-group col-lg-6">
				<%= f.label :pessoa_id, "Títular" %>
				<%= f.select :pessoa_id, options_for_select(Pessoa.where(:empresa_id => session[:empresa_id], :ativo => true, :usuario_id => current_usuario).collect {|e| ["#{e.nome} #{e.sobrenome}", e.id]}), { prompt: "Selecione o Títular" }, {:class => "form-control selectpicker", :style => "width: 100%", :required => true} %>
			</div>
			<div class="field form-group col-lg-6">
				<%= f.label :senha, "Senha de acesso" %>
				<%= f.password_field :senha, :class => "form-control", :required => true, autofocus: true %>
			</div>
			<br>
			<div class="col-lg-7">
			    <%= button_tag(type: 'submit', class: "btn btn-sm btn-primary", data: { disable_with: "Salvando..." }, title: 'Salvar') do %>
			        <i class="fa fa-check"> Salvar</i>
			    <% end %>&nbsp;&nbsp;&nbsp;
			    <%= link_to(contas_path, class: "btn btn-sm btn-primary", title: 'Voltar') do %>
			        <i class="fa fa-reply"> Voltar</i>
			    <% end %>&nbsp;&nbsp;&nbsp;
			    <% if params[:action] == "edit" %>
			        <%= link_to(@conta, class: "btn btn-sm btn-primary", title: 'Visualizar') do %>
			          <i class="fa fa-search"> Visualizar</i>
			        <% end %>
			    <% end %>
		  	</div>
		</div>
	</form>
<% end %>