<div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 5px;">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <h2>Detalhes da Conta</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <% if !notice.nil? %>
            <div class="alert alert-info">
                <p align="center" id="notice"><%= notice %></p>
            </div>
            <% end %>
        </div>
        <div class="col">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive" style="padding-bottom: 150px;">
                        <% if @contas.collect.count == 0 %>
                            <h1 style="text-align: center; padding-top: 200px;"><%= link_to(new_conta_path, class: 'btn btn-lg btn-primary btn-outline btn-rounded') do %>
                                <i class="fa fa-plus"></i> Cadastrar Nova Conta
                            <% end %></h1>
                        <% else %>
                            <table class="table table-hover">
                                <thead class="table table-bordered">
                                    <tr>
                                        <th>Títular</th>
                                        <th>Agência</th>
                                        <th>Número Conta</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @contas.each do |conta| %>
                                        <tr>
                                            <td><%= conta.pessoa.nome %> <%= conta.pessoa.sobrenome %></td>
                                            <td>000<%= conta.agencia %>-<%= conta.digito_agencia %></td>
                                            <td>00<%= conta.numero_conta %>-<%= conta.digito_conta %></td>
                                            <td>
                                                <div class="input-group-btn">
                                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Ações <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <%= link_to 'Editar Senha', edit_conta_path(conta), :class => 'btn btn-default', title: 'Editar'%>
                                                        </li>
                                                        <li>
                                                            <%= link_to 'Encerrar Conta', conta, id: "encerrar_conta", :class => 'btn btn-default', :title => 'Encerrar' %>

                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <script type="text/javascript">
                                            //Caso botão encerrar seja clicado apareça uma mensagem de confirmação
                                            $("#encerrar_conta").click(function(e) {
                                                e.preventDefault();
                                                Swal.fire({
                                                  title: 'Tem certeza que deseja encerrar essa conta?',
                                                  text: "Caso faça isso, não será mais possível recuperá-la.",
                                                  icon: 'warning',
                                                  position: 'center',
                                                  confirmButtonColor: '#28A745',
                                                  cancelButtonColor: '#ED5565',
                                                  showCancelButton: true,
                                                  confirmButtonText: 'Sim, encerrar.',
                                                  cancelButtonText: 'Não, voltar.',
                                                  reverseButtons: false,
                                                  width: "500px"
                                                }).then((result) => {
                                                  //Se confirmar a conta será encerrada
                                                  if (result.value) {
                                                    $.ajax({
                                                        url: '/contas/<%= conta.id %>',
                                                        method: 'DELETE'
                                                    })
                                                    .done(function(retorno) {
                                                        setTimeout(function() {
                                                            location.reload();
                                                        }, 1000);
                                                        Swal.fire({
                                                            position: 'center',
                                                            icon: 'success',
                                                            title: 'Conta encerrada com sucesso.',
                                                            timer: 1000
                                                        })
                                                    });
                                                  }
                                                  //Se não o click será cancelado
                                                  else if (
                                                    result.dismiss === Swal.DismissReason.cancel
                                                  ) {
                                                    
                                                  }
                                                })
                                            });
                                        </script>
                                    <% end %>
                                </tbody>
                            </table>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

