<%= form_for(@modulo) do |f| %>
  <% if @modulo.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" style="width: 400px;">
      <ul>
      <% @modulo.errors.full_messages.each do |message| %>
        <li><%= message %>.</li><br>
      <% end %>
      </ul>
    </div>
  <% end %>
    <form class="form-horizontal">
        <div class="row">
            <div class="field form-group col-lg-6">
              <%= f.label :descricao, "Descrição" %> <e style="color:red">*</e>
              <%= f.text_field :descricao, class: 'form-control', required: true, autofocus: true %>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <%= button_tag(type: 'submit', class: "btn btn-primary", title: 'Salvar') do %>
                    <i class="fa fa-save"></i> Salvar
                <% end %>   
            </div>
        </div>
    </form>
<% end %>


