<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h1>Edição de Módulo</h1>
				</div>
				<div class="ibox-content">
					<%= render 'form' %>
					<%= link_to '', @modulo, class: 'btn btn-sm btn-warning fa fa-search', title: 'Visualizar' %> 
					<%= link_to '', modulos_path, class: 'btn btn-sm btn-danger fa fa-reply', title: 'Voltar' %>
				</div>
			</div>
		</div>
	</div>
</div>

