<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
	    <div class="col-lg-12">
	        <% if !notice.nil? %>
	            <div class="alert alert-info">
	                <p align="center"><%= notice %></p>
	            </div>
	        <% end %>
	    </div>
	    <div class="col-lg-12">
	    	<div class="ibox float-e-margins">
	        	<div class="ibox-title">
	        		<div class="row">
		                <div class="col-lg-12 col-sm-10 col-md-10 col-xs-8">
	          				<h2 align="center">Cadastre o Módulo</h2>
		            	</div>
		            </div>
	        	</div>
				<div class="ibox-content">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>

