<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
	    <div class="col-lg-12">
            <% if !notice.nil? %>
            <div class="alert alert-info">
                <p align="center" id="notice"><%= notice %></p>
            </div>
            <% end %>
	    </div>
	    <div class="col-lg-12">
	    	<div class="ibox float-e-margins">
	        	<div class="ibox-title">
	        		<div class="row">
		                <div class="col-lg-12 col-sm-10 col-md-10 col-xs-8">
	          				<h2 align="center">Realizar Saque</h2>
		            	</div>
		            </div>
	        	</div>
				<div class="ibox-content">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(e) {
		if (<%= @liberacao %> == false){
			Swal.fire({
			  title: 'Operação não autorizada pela instituição',
			  html: 'Tente novamente.',
			  timer: 3000,
			  timerProgressBar: true,
		      icon: 'error',
		      position: 'center',
		      width: "500px",
		      showConfirmButton: false
			})
		}
		else {
			Swal.fire({
			  title: 'Aguarde a contagem de notas...',
			  html: 'Em segundos o valor será liberado.',
			  timer: 3000,
			  timerProgressBar: true,
	          icon: 'success',
	          position: 'center',
	          width: "500px"
			})
			setTimeout(function() {
                window.location.replace("saques/<%= @id_conta %>");
            }, 3000);
		}
	});
</script>