<div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 5px;">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h2>Detalhes do Saque</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <% if !notice.nil? %>
                <div class="alert alert-info">
                    <p align="center" id="notice"><%= notice %></p>
                </div>
            <% end %>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox product-detail">
                    <div class="ibox-content">
                        <div class="row">
                            <h3>Informações:</h3>
                            <dl class="small m-t-md">
                                <div class="col-lg-6" style="font-size: 12px;">
                                    <dt>Conta:</dt>
                                    <dd>
                                        <%= @saque.conta.pessoa.nome %> <%= @saque.conta.pessoa.sobrenome %>, Agência: 000<%= @saque.conta.agencia %>-<%= @saque.conta.digito_agencia %>, Conta Corrente: 00<%= @saque.conta.numero_conta %>-<%= @saque.conta.digito_conta %>  
                                    </dd>
                                    <br>
                                    <dt>Valor Saque:</dt>
                                    <dd>
                                        <%= number_to_currency(@saque.valor_saque) %>   
                                    </dd>
                                    <br>
                                    <dt>Data Saque:</dt>
                                    <dd>
                                        <%= l(@saque.created_at) %>   
                                    </dd>
                                    <br>
                                </div>
                            </dl>
                            <div class="col-lg-7">
                                <%= link_to(saques_path, class: "btn btn-sm btn-primary", title: 'Voltar') do %>
                                    <i class="fa fa-reply"> Voltar</i>
                                <% end %>&nbsp;&nbsp;&nbsp;
                                <%= link_to(new_saque_path, class: 'btn btn-sm btn-primary') do %>
                                    <i class="fa fa-plus"></i> Novo
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

