<%= form_for(@pessoa, :usuario_id => current_usuario.id) do |f| %>
	<% if @pessoa.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" style="width: 400px;">
      <ul>
        <% @pessoa.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
	<% end %>

	<form class="form-horizontal">
	<div class="row">
		<div class="field form-group col-lg-6">
			<%= f.label :tipo_pessoa, "Tipo Pessoa" %>
			<%= f.select :tipo_pessoa, options_for_select(["Cliente", "Colaborador"]), { prompt: "Selecione o Tipo" }, {class: "form-control selectpicker", "data-live-search" =>"true", :style => "width: 100%", :required => true} %>
		</div>
		<div class="field form-group col-lg-6">
			<%= f.label :nome, "Nome" %>
			<%= f.text_field :nome, :class => "form-control", :required => true, autofocus: true %>
		</div>
		<div class="field form-group col-lg-6">
			<%= f.label :sobrenome, "Sobrenome" %>
			<%= f.text_field :sobrenome, :class => "form-control", :required => true, autofocus: true %>
		</div>
		<div class="field form-group col-lg-6">
			<%= f.label :data_nascimento, "Data de Nascimento" %>
			<%= f.text_field :data_nascimento, type: 'date', :class => "form-control", :required => true, autofocus: true %>
		</div>
		<div class="field form-group col-lg-6">
			<%= f.label :genero, "Gênero" %>
			<%= f.select :genero, options_for_select(["Masculino", "Feminino", "Outros"]), { prompt: "Selecione o Gênero" }, {class: "form-control selectpicker", "data-live-search" =>"true", :style => "width: 100%", :required => true} %>
		</div>
		<div class="field form-group col-lg-6">
			<%= f.label :cpf, "CPF" %>
			<%= f.text_field :cpf, :class => "form-control", :required => true, autofocus: true, id: 'cpf' %>
		</div>
		<div class="field form-group col-lg-6">
			<%= f.label :rg, "RG" %>
			<%= f.text_field :rg, :class => "form-control", :required => true, autofocus: true %>
		</div>
		<div>
		    <%= button_tag(type: 'submit', class: "btn btn-primary btn-rounded btn-block", data: { disable_with: "Salvando..." }, title: 'Salvar') do %>
		        <i class="fa fa-check"> Salvar</i>
		    <% end %>
	  	</div>
	</div>
</form>
<% end %>