<%= javascript_include_tag "forms" if ::Rails.application.assets.find_asset("uielements.js") %>
<%= stylesheet_link_tag "forms" if ::Rails.application.assets.find_asset("uielements.css") %>

<script type="text/javascript">
  $(document).ready(function() {
	//Mascara de CEP
    $('#cep').mask('99999-999');
    $("#cpf").mask("999.999.999-99");

    function limpa_formulário_cep() {
      // Limpa valores do formulário de cep.
      $("#rua").val("");
      $("#bairro").val("");
      $("#cidade").val("");
      $("#estado").val("");
    }
    //Quando o campo cep perde o foco.
    $("#cep").blur(function() {
      //Nova variável "cep" somente com dígitos.
      var cep = $(this).val().replace(/\D/g, '');
      //Verifica se campo cep possui valor informado.
      if (cep != "") {
        //Expressão regular para validar o CEP.
        var validacep = /^[0-9]{8}$/;
        //Valida o formato do CEP.
        if(validacep.test(cep)) {
          //Preenche os campos com "..." enquanto consulta webservice.
          $("#rua").val("Carregando...");
          $("#bairro").val("Carregando...");      
          $("#cidade").val("Carregando...");
          $("#estado").val("Carregando...");

          //Consulta o webservice viacep.com.br/
          $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
            if (!("erro" in dados)) {
              //Atualiza os campos com os valores da consulta.
              $("#rua").val(dados.logradouro);
              $("#bairro").val(dados.bairro);
              $("#cidade").val(dados.localidade);
              $("#estado").val(dados.uf);
            } //end if.
            else {
              //CEP pesquisado não foi encontrado.
              limpa_formulário_cep();
              alert("CEP não encontrado.");
            }
          });
        } //end if.
        else {
          //cep é inválido.
          limpa_formulário_cep();
          alert("Formato de CEP inválido.");
        }
      } //end if.
      else {
        //cep sem valor, limpa formulário.
        limpa_formulário_cep();
      }
    });    
  });
</script>

<div class="row center">
    <div class="col-lg-12">
      	<div class="ibox">
	        <div class="ibox-content">
	          	<div class="scroll_content">
		            <br><br><br>
		            <% if !notice.nil? %>
		              <div class="alert alert-info">
		                <p align="center" id="notice"><%= notice %></p>
		              </div>
		            <% end %>
		            <div id="termos_de_uso">
		              	<%= form_for(@pessoa, html: {:id => "identificador_formulario"} ) do |f| %>
						  	<% if @pessoa.errors.any? %>
							    <div id="error_explanation" class="alert alert-danger" style="width: 400px;">
							      <ul>
							        <% @pessoa.errors.full_messages.each do |message| %>
							          <li><%= message %></li>
							        <% end %>
							      </ul>
							    </div>
						  	<% end %>

						  	<form class="form-horizontal">
						    	<div class="row">
									<div class="field form-group col-lg-6">
										<%= f.label :nome, "Nome" %>
										<%= f.text_field :nome, :class => "form-control", :required => true, autofocus: true %>
									</div>
									<div class="field form-group col-lg-6">
										<%= f.label :sobrenome, "Sobrenome" %>
										<%= f.text_field :sobrenome, :class => "form-control", :required => true, autofocus: true %>
									</div>
									<div class="field form-group col-lg-6">
										<%= f.label :data_nascimento, "Data de Nascimento" %>
										<%= f.text_field :data_nascimento, type: 'date', :class => "form-control", :required => true, autofocus: true %>
									</div>
									<div class="field form-group col-lg-6">
										<%= f.label :genero, "Gênero" %>
										<%= f.select :genero, options_for_select(["Masculino", "Feminino", "Outros"]), { prompt: "Selecione o Gênero" }, {class: "form-control selectpicker", "data-live-search" =>"true", :style => "width: 100%", :required => true} %>
									</div>
									<div class="field form-group col-lg-6">
										<%= f.label :cpf, "CPF" %> <e style="color:red;">*</e>
										<%= f.text_field :cpf, :class => "form-control", :required => true, autofocus: true, id: 'cpf' %>
									</div>
									<div class="field form-group col-lg-6">
										<%= f.label :rg, "RG" %>
										<%= f.text_field :rg, :class => "form-control", autofocus: true %>
									</div>

									<div class="field form-group col-lg-3">
										<%= f.label :telefone, "Telefone" %> <e style="color:red;">*</e>
										<%= f.text_field :telefone, :class => "form-control", :required => true, autofocus: true, :id => 'telefone' %>
									</div>

									<div class="field form-group col-lg-3">
										<%= f.label :cep, 'CEP' %> <e style="color:red;">*</e> <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/BuscaCep.cfm" target="_framename">Buscar CEP</a>
									    <%= f.text_field :cep, :class => "form-control", :required => true, autofocus: true, :id => 'cep' %>
									</div>

									<div class="field form-group col-lg-5">
										<%= f.label :rua, 'Rua' %> <e style="color:red;">*</e>
									    <%= f.text_field :rua, :class => "form-control", :required => true, autofocus: true, :id => 'rua' %>
									</div>

									<div class="field form-group col-lg-3">
										<%= f.label :numero, 'Número do Imóvel' %> <e style="color:red;">*</e>
									    <%= f.text_field :numero, :class => "form-control", :required => true, autofocus: true, :id => 'numero' %>
									</div>

									<div class="field form-group col-lg-3">
										<%= f.label :bairro, "Bairro" %> <e style="color:red;">*</e>
										<%= f.text_field :bairro, :class => "form-control", :required => true, autofocus: true, :id => 'bairro' %>
									</div>

									<div class="field form-group col-lg-3">
										<%= f.label :estado, "Estado" %> <e style="color:red;">*</e>
										<%= f.text_field :estado, :class => "form-control", :required => true, autofocus: true, :id => 'estado' %>
									</div>

									<div class="field form-group col-lg-3">
										<%= f.label :cidade, "Cidade" %> <e style="color:red;">*</e>
										<%= f.text_field :cidade, :class => "form-control", :required => true, autofocus: true, :id => 'cidade' %>
									</div>

									<div class="field form-group col-lg-3">
										<%= f.label :complemento, "Complemento" %>
										<%= f.text_field :complemento, :class => "form-control", autofocus: true, :id => 'complemento' %>
									</div>

									<div>
									    <%= button_tag(type: 'submit', class: "btn btn-primary btn-rounded btn-block", data: { disable_with: "Salvando..." }, title: 'Salvar') do %>
									        <i class="fa fa-check"> Salvar</i>
									    <% end %>
								  	</div>
								</div>
							</form>
						<% end %>
		            </div>
	          	</div>
	        </div>
     	</div>
    </div>
</div>

<style type="text/css">
  .center {
    margin: auto;
    width: auto;
    top: auto;
    transform: translateY(-2%);
    position: auto;
  }
</style>

<script type="text/javascript">
  $(function() {
    $('.scroll_content').slimscroll({
      height: '570'
    })
  });
</script>
