<%= form_for(@deposito) do |f| %>
  	<% if @deposito.errors.any? %>
	    <div id="error_explanation" class="alert alert-danger" style="width: 400px;">
	      <ul>
	        <% @deposito.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
  	<% end %>

  	<form class="form-horizontal">
    	<div class="row">
			<div class="field form-group col-lg-12">
				<%= f.label :conta_id, "Conta para Depósito" %>
				<%= f.select :conta_id, options_for_select(Conta.where(:empresa_id => session[:empresa_id], :ativo => true).collect {|e| ["#{e.pessoa.nome} #{e.pessoa.sobrenome} - Agência: 000#{e.agencia}-#{e.digito_agencia}, Conta Corrente: 00#{e.numero_conta}-#{e.digito_conta}", e.id]}), { prompt: "Selecione a Conta" }, {:class => "form-control selectpicker", :style => "width: 100%", :required => true} %>
			</div>
			<% if params[:action] == "new" %>
				<div class="field form-group col-lg-12 ">
				    <%= f.label :valor_deposito, 'Valor Depósito'%> <e style="color:red;">*</e>
				    <%= f.number_field :valor_deposito, value: number_to_currency(f.object.valor_deposito.to_f, delimiter: '.', unit: 'R$'), :step => 0.001, :class => 'form-control moeda', :required => true %>
				</div>
			<% else %>
				  <div class="field form-group col-lg-12 ">
				    <%= f.label :valor_deposito, 'Valor Depósito'%> <e style="color:red;">*</e>
				    <%= f.text_field :valor_deposito, :class => 'form-control moeda', :required => true %>
				  </div>
			<% end %>
			<div class="field form-group col-lg-12">
				<%= f.label :tipo_deposito, "Tipo Depósito" %>
				<%= f.select :tipo_deposito, options_for_select(["Dinheiro", "Envelope"], "Dinheiro"), { prompt: "Selecione o Tipo" }, {class: "form-control selectpicker", "data-live-search" =>"true", :style => "width: 100%", :required => true} %>
			</div>
			<br>
			<div class="col-lg-7">
			    <%= button_tag(type: 'submit', class: "btn btn-sm btn-primary", data: { disable_with: "Depositando..." }, title: 'Confirmar', id: "botao_deposito") do %>
			        <i class="fa fa-check"> Confirmar</i>
			    <% end %>&nbsp;&nbsp;&nbsp;
			    <%= link_to(depositos_path, class: "btn btn-sm btn-primary", title: 'Voltar') do %>
			        <i class="fa fa-reply"> Voltar</i>
			    <% end %>&nbsp;&nbsp;&nbsp;
			    <% if params[:action] == "edit" %>
			        <%= link_to(@deposito, class: "btn btn-sm btn-primary", title: 'Visualizar') do %>
			          <i class="fa fa-search"> Visualizar</i>
			        <% end %>
			    <% end %>
		  	</div>
		</div>
	</form>
<% end %>

<script type="text/javascript">
  	$(document).ready(function() {
		var mask = {
		    money: function() {
		      var el = this
		      ,exec = function(v) {
		        v = v.replace(/\D/g,"");
		        v = new String(Number(v));
		        var len = v.length;
		        if (1== len)
		        v = v.replace(/(\d)/,"0.0$1");
		        else if (2 == len)
		        v = v.replace(/(\d)/,"0.$1");
		        else if (len > 2) {
		        v = v.replace(/(\d{2})$/,'.$1');
		        }
		        return v;
		      };
		      setTimeout(function(){
		      el.value = exec(el.value);
		      },1);
		    }
	  	}

		$(function(){
			$('.moeda').bind('keypress',mask.money)
		});
  	});
</script>