<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
	    <div class="col-lg-12">
            <% if !notice.nil? %>
            <div class="alert alert-info">
                <p align="center" id="notice"><%= notice %></p>
            </div>
            <% end %>
	    </div>
	    <div class="col-lg-12">
	    	<div class="ibox float-e-margins">
	        	<div class="ibox-title">
	        		<div class="row">
		                <div class="col-lg-12 col-sm-10 col-md-10 col-xs-8">
	          				<h2 align="center">Realizar Depósito Para Conta</h2>
		            	</div>
		            </div>
	        	</div>
				<div class="ibox-content">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$("#botao_deposito").click(function(e) {
		Swal.fire({
		  title: 'Aguarde a contagem de notas...',
		  html: 'Em <b></b> millisegundos o valor será liberado.',
		  timer: 3000,
		  timerProgressBar: true,
          icon: 'success',
          position: 'center',
          width: "500px",
		  willOpen: () => {
		    Swal.showLoading()
		    timerInterval = setInterval(() => {
		      const content = Swal.getContent()
		      if (content) {
		        const b = content.querySelector('b')
		        if (b) {
		          b.textContent = Swal.getTimerLeft()
		        }
		      }
		    }, 100)
		  },
		  onClose: () => {
		    clearInterval(timerInterval)
		  }
		}).then((result) => {
		  	if (result.dismiss === Swal.DismissReason.timer) {
		  		$("#botao_deposito").trigger("click");
		  	}
		});
	});
</script>