<div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 5px;">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h2>Comprovante do Depósito</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <% if !notice.nil? %>
                <div class="alert alert-info">
                    <p align="center" id="notice"><%= notice %></p>
                </div>
            <% end %>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox product-detail">
                    <div class="ibox-content">
                        <div class="row">
                            <h3>Informações:</h3>
                            <dl class="small m-t-md">
                                <div class="col-lg-6" style="font-size: 12px;">
                                    <dt>Títular:</dt>
                                    <dd>
                                        <%= @deposito.conta.pessoa.nome %> <%= @deposito.conta.pessoa.sobrenome %>
                                    </dd>
                                    <br>
                                    <dt>Agência:</dt>
                                    <dd>
                                        000<%= @deposito.conta.agencia %>-<%= @deposito.conta.digito_agencia %> 
                                    </dd>
                                    <br>
                                    <dt>Conta Corrente:</dt>
                                    <dd>
                                        00<%= @deposito.conta.numero_conta %>-<%= @deposito.conta.digito_conta %>   
                                    </dd>
                                    <br>
                                    <dt>Valor Depósito:</dt>
                                    <dd>
                                        <%= number_to_currency(@deposito.valor_deposito) %>   
                                    </dd>
                                    <br>
                                    <dt>Tipo Depósito:</dt>
                                    <dd>
                                        <%= @deposito.tipo_deposito %>   
                                    </dd>
                                    <br>
                                    <dt>Data Depósito:</dt>
                                    <dd>
                                        <%= l(@deposito.created_at) %>   
                                    </dd>
                                    <br>
                                </div>
                            </dl>
                            <div class="col-lg-7">
                                <%= link_to(new_deposito_path, class: 'btn btn-sm btn-primary') do %>
                                    <i class="fa fa-plus"></i> Novo Depósito
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

