<% if flash[:alert].present? %>
  <p class="alert alert-info"><%= flash[:alert] %></p>
<% end %>
<h3>Seja bem-vindo!</h3>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder=>"Email", :required => :true  %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder=> "Senha", :required => :true %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      Mantenha-se conectado
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Entrar", :class => "btn btn-primary block full-width m-b" %>
  </div>
<% end %>
<%= render "usuarios/shared/links" %>


