<% if !devise_error_messages!.blank? %>
    <p id="notice"> 
        <div class="alert alert-warning" style="text-align: center;"><%= devise_error_messages! %> </div>
    </p>
<% end %>

<h2>Mude sua senha</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

    <div class="field">
        <br>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres no mínimo)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: 'Nova senha', required: true %>
    </div><br>

    <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirmar nova senha', required: true %>
    </div><br>

    <div class="actions">
        <%= f.submit "Mudar minha senha", :class => "btn btn-primary block full-width m-b" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>
