<h2>Esqueceu sua Senha?</h2><br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

	<div class="form-group">
		<%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder=>"Email", :required => :true  %>
	</div>

	<div class="actions">
		<%= f.submit "Enviar Instruções de Refinição", :class => "btn btn-primary block full-width m-b" %>
	</div>
<% end %>
<br><br>
<%= render "usuarios/shared/links" %>
