<%%= form_for(@<%= singular_table_name %>) do |f| %>
  	<%% if @<%= singular_table_name %>.errors.any? %>
	    <div id="error_explanation" class="alert alert-danger" style="width: 400px;">
	      <ul>
	        <%% @<%= singular_table_name %>.errors.full_messages.each do |message| %>
	          <li><%%= message %></li>
	        <%% end %>
	      </ul>
	    </div>
  	<%% end %>

  	<form class="form-horizontal">
    	<div class="row">
		<% attributes.each do |attribute| -%>
	<div class="field form-group col-lg-6">
			<% if attribute.password_digest? -%>
	    	<%%= f.label :password %>
			<%%= f.password_field :password %>
		</div>

<div class="field form-group col-lg-6">
		    <%%= f.label :password_confirmation %>
		    <%%= f.password_field :password_confirmation %>
		<% elsif attribute.reference? -%>
	<%%= f.label :<%= attribute.column_name %>, "<%= "#{attribute.column_name.capitalize.gsub('ao', 'ão')}"%>" %>
				<%%= f.select :<%= attribute.column_name %>, options_for_select(<%= attribute.name.camelize %>.where(:empresa_id => session[:empresa_id], :ativo => true).collect {|e| [e.<%= attribute.column_name %>, e.id]}), { prompt: "Selecione o <%= attribute.name.camelize %>" }, {:class => "form-control selectpicker", :style => "width: 100%", :required => true} %>
		<% else -%>
	<%%= f.label :<%= attribute.column_name %>, "<%= "#{attribute.column_name.capitalize.gsub('ao', 'ão')}"%>" %>
				<%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, :class => "form-control", :required => true, autofocus: true %>
		<% end -%>
	</div>
		<% end -%>
	<br>
			<div class="col-lg-7">
			    <%%= button_tag(type: 'submit', class: "btn btn-sm btn-primary", data: { disable_with: "Salvando..." }, title: 'Salvar') do %>
			        <i class="fa fa-check"> Salvar</i>
			    <%% end %>&nbsp;&nbsp;&nbsp;
			    <%%= link_to(<%= index_helper %>_path, class: "btn btn-sm btn-primary", title: 'Voltar') do %>
			        <i class="fa fa-reply"> Voltar</i>
			    <%% end %>&nbsp;&nbsp;&nbsp;
			    <%% if params[:action] == "edit" %>
			        <%%= link_to(@<%= singular_table_name %>, class: "btn btn-sm btn-primary", title: 'Visualizar') do %>
			          <i class="fa fa-search"> Visualizar</i>
			        <%% end %>
			    <%% end %>
		  	</div>
		</div>
	</form>
<%% end %>