<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h1>Edição de <%= singular_table_name.titleize %></h1>
				</div>
				<div class="ibox-content">
					<%%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>