<div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 5px;">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <h2><%= plural_table_name.titleize %></h2>
    </div>
    <div class="col-lg-1 col-lg-push-1 col-md-1 col-md-push-1 col-sm-1 col-sm-push-1 col-xs-2 col-xs-pull-1">
        <h2><%%= link_to(new_<%= singular_table_name %>_path, class: 'btn btn-primary btn-outline btn-rounded') do %>
            <i class="fa fa-plus"></i> Novo
        <%% end %></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <%% if !notice.nil? %>
            <div class="alert alert-info">
                <p align="center" id="notice"><%%= notice %></p>
            </div>
            <%% end %>
        </div>
        <div class="col">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive" style="padding-bottom: 80px;">
                        <table class="table table-hover">
                            <thead class="table table-bordered">
                                <tr>
                                    <% attributes.reject(&:password_digest?).each do |attribute| -%><th><%= attribute.human_name %></th>
                                    <% end -%><th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
                                    <tr>
                                <% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.column_name %> %></td>
                                <% end -%>
        <td>
                                            <div class="input-group-btn">
                                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Ações <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <%%= link_to 'Ver', <%= singular_table_name %>, :class => 'btn btn-default', :title => 'Visualizar' %>
                                                    </li>
                                                    <li>
                                                        <%%= link_to 'Editar', edit_<%= singular_table_name %>_path(<%= singular_table_name %>), :class => 'btn btn-default', title: 'Editar'%>
                                                    </li>
                                                    <li>
                                                        <%%= link_to 'Deletar', <%= singular_table_name %>, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse registro ?' }, :class => 'btn btn-default', :title => 'Deletar' %>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                <%% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>