<div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 5px;">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h2><%= singular_table_name.titleize %></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <%% if !notice.nil? %>
                <div class="alert alert-info">
                    <p align="center" id="notice"><%%= notice %></p>
                </div>
            <%% end %>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox product-detail">
                    <div class="ibox-content">
                        <div class="row">
                            <h3>Informações:</h3>
                            <dl class="small m-t-md">
                                <div class="col-lg-6" style="font-size: 12px;">
                                <% attributes.reject(&:password_digest?).each do |attribute| -%>
    <dt><%= attribute.human_name %>:</dt>
                                    <dd>
                                        <%%= @<%= singular_table_name %>.<%= attribute.column_name %> %>   
                                    </dd>
                                    <br>
                                <% end -%></div>
                            </dl>
                            <div class="col-lg-7">
                                <%%= link_to(<%= index_helper %>_path, class: "btn btn-sm btn-primary", title: 'Voltar') do %>
                                    <i class="fa fa-reply"> Voltar</i>
                                <%% end %>&nbsp;&nbsp;&nbsp;
                                <%%= link_to(new_<%= singular_table_name %>_path, class: 'btn btn-sm btn-primary') do %>
                                    <i class="fa fa-plus"></i> Novo
                                <%% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

