<div class="wrapper wrapper-content">
<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-green pull-right">Em <%= l(Date.today, format: "%B") %></span>
                <label>Entradas</label>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins"><%= link_to "#{number_to_currency(@depositos)}", depositos_path %></h1>
                <br>
                <div class="stat-percent font-bold" style="color: green;"> <i class="fa fa-level-up"></i></div>
                <small>Por Depósitos</small>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-danger pull-right">Em <%= l(Date.today, format: "%B") %></span>
                <label>Saídas</label>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins"><%= link_to "#{number_to_currency(@transferencias+@saques)}", transferencias_path %></h1>
                <br>
                <div class="stat-percent font-bold text-danger"><i class="fa fa-level-down"></i></div>
                <small>Por Saques e Transferências</small>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">Em <%= l(Date.today, format: "%B") %></span>
                <label>Rendimentos</label>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins"><%= "#{number_to_currency((@saldo*(0.3/100)*5))}" %></h1>
                <br>
                <div class="stat-percent font-bold text-success">100% CDI <i class="fa fa-level-up"></i></div>
                <small>CDI 0,3%</small>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">Agora</span>
                <label>Saldo</label>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="saldo"><%= number_to_currency(@saldo) %></h1>
                <h1 class="no-margins" id="saldo_escondido">*****</h1>
                <br>
                <span class="label label-primary" id="mostrar_saldo"><small>Mostrar Saldo</small></span>
                <span class="label label-primary" id="esconder_saldo"><small>Esconder Saldo</small></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <label>Rendimentos Diários</label>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-xs btn-white" id="grafico_hoje">Hoje</button>
                        <button type="button" class="btn btn-xs btn-white" id="grafico_mes">Mês</button>
                        <button type="button" class="btn btn-xs btn-white" id="grafico_ano">Ano</button>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="flot-chart">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="atualizar_grafico">
                                <%= line_chart ({12.day.ago => 100, 11.day.ago => 210, 10.day.ago => 320, 9.day.ago => 230, 8.day.ago => 340, 7.day.ago => 450, 6.day.ago => 660, 5.day.ago => 570, 4.day.ago => 480, 3.day.ago => 290, 2.day.ago => 500, 1.day.ago => 610, 0.day.ago => 220}), prefix: "R$", suffix: ",00", refresh: 60, download: {filename: "Gráfico de Rendimentos", background: "#ffffff"} %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<% nome_usuario = !current_usuario.id.nil? ? Pessoa.find_by(usuario_id: current_usuario.id).nome : nil %>

<% if !nome_usuario.nil? %>
    <script type="text/javascript">
        $("#saldo").hide();
        $("#esconder_saldo").hide();
        $("#mostrar_saldo").click(function() {
            $("#mostrar_saldo").hide();
            $("#saldo_escondido").hide();
            $("#saldo").show();
            $("#esconder_saldo").show();
        });
        $("#esconder_saldo").click(function() {
            $("#mostrar_saldo").show();
            $("#saldo_escondido").show();
            $("#saldo").hide();
            $("#esconder_saldo").hide();
        });

        const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          onOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })

        Toast.fire({
          icon: 'success',
          title: 'Bem-vindo <%= nome_usuario %>'
        })
    </script>
<% end %>

<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

