<%= form_for(@empresa) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" style="width: 400px;">
      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %>.</li><br>
      <% end %>
      </ul>
    </div>
  <% end %>
    <form class="form-horizontal">
        <div class="row">

            <div class="field form-group col-lg-6">
              <%= f.label :nome, "Nome" %> <e style="color:red">*</e>
              <%= f.text_field :nome, class: 'form-control', required: true, autofocus: true %>
            </div>

            <div class="field form-group col-lg-6">
              <%= f.label :razao_social, "Razao Social" %> <e style="color:red">*</e>
              <%= f.text_field :razao_social, class: 'form-control', required: true %>
            </div>

            <div class="field form-group col-lg-6">
              <%= f.label :cnpj, "CNPJ" %> <e style="color:red">*</e>
              <%= f.text_field :cnpj, class: 'form-control', required: true %>
            </div>

            <div class="field form-group col-lg-6">
              <%= f.label :email, "E-mail" %> <e style="color:red">*</e>
              <%= f.email_field :email, class: 'form-control', required: true %>
            </div>

            <div class="field form-group col-lg-6">
              <%= f.label :telefone, "Telefone" %> <e style="color:red">*</e>
              <%= f.text_field :telefone, class: 'form-control telefone', required: true %>
            </div>

            <div class="field form-group col-lg-6">
              <%= f.label :cep, "CEP" %>
              <%= f.text_field :cep, class: 'form-control' %>
            </div>

            <div class="field form-group col-lg-6">
              <%= f.label :endereco, "Endereço" %>
              <%= f.text_field :endereco, class: 'form-control' %>
            </div>

            <div class="field form-group col-lg-6">
              <%= f.label :numero, "Número" %>
              <%= f.text_field :numero, class: 'form-control' %>
            </div>

            <div class="field form-group col-lg-12">
              <%= f.label :complemento, "Complemento" %>
              <%= f.text_field :complemento, class: 'form-control' %>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <%= button_tag(type: 'submit', class: "btn btn-primary", title: 'Salvar') do %>
                    <i class="fa fa-save"></i> Salvar
                <% end %>   
            </div>
        </div>

    </form>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    //Mascara de CEP
    $(".telefone").mask("(99) 99999-9999");
    $('#empresa_cep').mask('99999-999');
    $('#empresa_cnpj').mask('99.999.999/9999-99');
    function limpa_formulário_cep() {
      // Limpa valores do formulário de cep.
      $("#empresa_endereco").val("");
    }
    //Quando o campo cep perde o foco.
    $("#empresa_cep").blur(function() {
      //Nova variável "cep" somente com dígitos.
      var cep = $(this).val().replace(/\D/g, '');
      //Verifica se campo cep possui valor informado.
      if (cep != "") {
        //Expressão regular para validar o CEP.
        var validacep = /^[0-9]{8}$/;
        //Valida o formato do CEP.
        if(validacep.test(cep)) {
          //Preenche os campos com "..." enquanto consulta webservice.
          $("#empresa_endereco").val("Carregando...");
          $("#empresa_bairro").val("Carregando...");      
          //Consulta o webservice viacep.com.br/
          $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
            if (!("erro" in dados)) {
              //Atualiza os campos com os valores da consulta.
              $("#empresa_endereco").val(dados.logradouro+", "+ dados.bairro);
            } //end if.
            else {
              //CEP pesquisado não foi encontrado.
              limpa_formulário_cep();
              alert("CEP não encontrado.");
            }
          });
        } //end if.
        else {
          //cep é inválido.
          limpa_formulário_cep();
          alert("Formato de CEP inválido.");
        }
      } //end if.
      else {
        //cep sem valor, limpa formulário.
        limpa_formulário_cep();
      }
    });
  });
</script>
