<div class="col-lg-12 main animated fadeInDown">
    <div class="col-lg-12 right-side">
        <div class="col-lg-8 col-lg-offset-2">
            <hr>
            <div class="row" >
                <div class="col-lg-12">
                    <h3 align="center">SELECIONE UMA EMPRESA</h3>
                </div>
            </div>
            <hr>
            <div style="overflow-y: auto; height:500px;" id="scrollbar">
                <div class="row">
                    <% if !@lista_empresas.nil? %>
                        <% @lista_empresas.each do |empresa| %>
                            <%= link_to(setar_empresas_path(empresa_id: empresa.id)) do %>
               
                                <div class="col-lg-12">
                                    <div class="widget style1 navy-bg">
                                        <div class="row"  id="align-icon">
                                            <div class="col-lg-3" align="center">
                                                <i class="fa fa-user fa-3x"></i>
                                            </div>
                                            <div class="col-lg-9" align="center">
                                                <div class="chat-user-name" style="font-weight: bold;">
                                                    <%= empresa.nome %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>         
                    <% end %>  

                    <%= link_to(destroy_usuario_session_path, method: :delete) do %>
                        <div class="col-lg-12">
                            <div class="widget style1 navy-bg" style="background-color: #fefefe; border-width: 1px; border-color: #e7eaec; color:#676a6c; border-style: solid;">
                                <div class="row"  id="align-icon">
                                    <div class="col-lg-3" align="center">
                                        <i class="fa fa-reply fa-3x"></i>
                                    </div>
                                    <div class="col-lg-9 col-lg-push-0 col-xs-push-2" align="center">
                                        <div class="chat-user-name" style="font-weight: bold;"><h3> Sair</h3></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>

                </div>   
            </div>
        </div>
    </div>
    <div class="col-lg-6 left-side">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="row" >
                <div class="col-lg-12" style="margin-top: 10px;">
                    <h2 style="text-align: center;">Bem vindo ao Sistema Dona de Fortaleza!</h2>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="ibox-content" style="border-radius: 100%; height: 250px;">
                <center><img alt="image" class="img-responsive" src="<%= image_url 'ico.png' %>" style="margin-top: 40px;" /></center>
            </div>
            <br>
        </div>
    </div>
</div>

<style type="text/css">
  .main{
    margin: 0px;
    height: 100%;
    width: 100%;      
    padding:0px;
    background:#204b80;
  }
  .left-side{
    margin: 0px;
    padding:0px 0px 0px;
    color: white;
    background-color: #204b80;
    background-size:cover;
  }
  .right-side{
    margin: 0px;
    padding:0px 0px 0px;
    background:#FFF;
    background-size:cover;
    min-height:600px;
    height: 100%;
  }
   #align-icon{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
  }

  #align-icon .chat-user-name {
   -webkit-flex: 1; /* Safari 6.1+ */
   flex: 1;
  }

  #scrollbar::-webkit-scrollbar{
    width: 0px;
  }
}
</style>
