<div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 5px;">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h2><%= @empresa.nome %></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <% if !notice.nil? %>
                <div class="alert alert-info">
                    <p align="center"><%= notice %></p>
                </div>
            <% end %>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox product-detail">
                    <div class="ibox-content">
                        <div class="row">
                            <h3>Informações:</h3>
                            <dl class="small m-t-md">
                                <div class="col-lg-6" style="font-size: 12px;">  
                                    <dt>Razão Social:</dt>
                                    <dd><%= @empresa.razao_social %></dd><br>
                                    <dt>CNPJ:</dt>
                                    <dd><%= @empresa.cnpj %></dd><br>
                                    <dt>Telefone:</dt>
                                    <dd><%= @empresa.telefone %></dd><br><br>
                                </div>
                                <div class="col-lg-6" style="font-size: 12px;">  
                                    <dt>E-mail:</dt>
                                    <dd><%= @empresa.email %></dd><br>
                                    <dt>CEP:</dt>
                                    <dd><%= @empresa.cep %></dd><br>
                                    <dt>Endereço:</dt>
                                    <dd><%= @empresa.endereco %>, N° <%= @empresa.numero %></dd><br>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'adicionar_pessoa_empresa' %>
<button class="btn btn-default dim" id="adicionar">Adicionar Participante   <i class="fa fa-group"></i></button>

<script type="text/javascript">
    $(document).ready(function() {
        $("#adicionar").click(function(){
            $("#adicionar_modal").modal();
        });
    });
</script>

