// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.centralizar {
  #position: absolute; 
  #top: 50%;
  display: table-cell; 
  vertical-align: middle;
}
