<%= javascript_include_tag "forms" if ::Rails.application.assets.find_asset("forms.js") %>
<%= stylesheet_link_tag "forms" if ::Rails.application.assets.find_asset("forms.css") %>

<%= form_for(@termos_uso) do |f| %>
  <% if @termos_uso.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" style="width: 400px;">
      <ul>
        <% @termos_uso.errors.full_messages.each do |message| %>
          <li><%= message %>.</li><br>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
    <div class="row">
      <div class="field form-group col-lg-6">
        <%= f.label :inicio_virgencia, "Início da virgência" %> <e style="color:red">*</e>
        <%= f.text_field :inicio_virgencia, class: 'form-control', required: true, autofocus: true, type: "date" %>
      </div>
      <div class="field form-group col-lg-6">
        <%= f.label :termino_virgencia, "Termino da virgência" %> <e style="color:red">*</e>
        <%= f.text_field :termino_virgencia, class: 'form-control', required: true, autofocus: true, type: "date" %>
        <%#= f.text_field :key => "value", termino_vigencia, class: 'form-control', required: true, autofocus: true, type: "date" %>
      </div>
      <div class="field form-group col-lg-12">
        <%= f.text_field :termos, class: 'summernote' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <%= button_tag(type: 'submit', class: "btn btn-primary", title: 'Salvar', id: "save") do %>
          <i class="fa fa-save"></i> Salvar 
        <% end %>   
      </div>
    </div>
  </form>
<% end %>

<script type="text/javascript">
  $(function() {
    $('.summernote').summernote();
    var editar = $('#termos_uso_termos').val();
    $('#termos_uso_termos').code(editar);
    var edit = function () {
      $('.click2edit').summernote({ focus: true });
    };
    $("#edit").click(function () {
      $('.click2edit').summernote({ focus: true });
    });
    $("#save").click(function () {
      var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
      $('.click2edit').destroy();
    });
  });

  $("#save").click(function (e){
    var code_texto = $("#termos_uso_termos").code();
    $("#termos_uso_termos").val(code_texto);
  });
</script>
