<div class="modal inmodal fade" id="adicionar" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
    	<div class="modal-content">

      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">
        			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        		</button>
        		<i class="fa fa-user-plus modal-icon"></i>
        		<h4 class="modal-title">Novo Participante</h4>
      		</div>

      		<%= form_for :adicionar_participante, url: { :controller => "empresas", :action => "adicionar_participante" }, html: {:method => :post, class: 'form-horizontal'} do |f| %>

      			<div class="modal-body" style="background-color: #FFFFFF">

	      			<div class="row">
	            		<div class="field form-group col-lg-6">
				          <%= f.label :usuario_id, "Usuário" %> <e style="color:red">*</e>
				          <%= f.select(:usuario_id, options_for_select(Usuario.all.collect {|e| [e.email, e.id]}), { prompt: "Selecione o Usuário" }, {class: "form-control selectpicker", "data-live-search" =>"true", :style => "width: 100%", :required => true}) %>
				        </div>

				        <div class="field form-group col-lg-6">
				          <%= f.label :modulo_id, "Módulo" %> <e style="color:red">*</e>
				          <%= f.select(:modulo_id, options_for_select(Modulo.all.collect {|e| [e.descricao, e.id]}), { prompt: "Selecione o Módulo" }, {class: "form-control selectpicker", "data-live-search" =>"true", :style => "width: 100%", :required => true}) %>
				        </div>
	            	</div><br>

	            	<div class="row">
	      				<div class="col-lg-6">
	              			<%= f.label :empresa_id, "Empresa" %> <e style="color:red">*</e>
	              			<%= f.text_field :empresa, class: 'form-control', readonly: true, value: @empresa.nome %>
	            		</div>
	            	</div>

      			</div>

	    		<div class="modal-footer">
	    			<%= button_tag(type: 'submit', class: "btn btn-sm btn-primary", title: 'Salvar') do %>
            			Salvar
          			<% end %>
	        	</div>

      		<% end %>
    	</div>
  	</div>
</div>