<!-- <br>
<br>
<br>
<div class="footer">
	<div class="pull-right" style="padding: 15px;">
		<p>© Copyright <%#= Date.today.year %> Todos os direitos reservados.
		<b>Dona de Fortaleza Soluções Digitais</b>.</p>
	</div>
</div>
 -->
 <br>
 <br>
 <br>
 <br>
 <br>