<% @empresa_id = PermissoesAcesso.find_by(usuario_id: current_usuario.id, ativo: true).nil? ? nil : PermissoesAcesso.find_by(usuario_id: current_usuario.id, ativo: true).empresa_id %>
  <% session[:empresa_id] = @empresa_id %>
  <% if @empresa_id.nil? %>
  <% else %>
    <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
            <div class="dropdown profile-element" style="text-align: center;">
              <span>
                <img alt="image" src="<%= image_url 'landing/nobe_tecnology.png' %>" class="img-responsive"/>
              </span>
              <hr>
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="clear">
                  <span class="block m-t-xs">
                    <h3><strong style="color: #676a6c;"><%= current_usuario.nome %></strong></h3>
                  </span>
                  <h4><span class="text-muted text-xs block" style="color: #676a6c;">Opções <b class="caret"></b></span></h4>
                </span>
              </a>
              <ul class="dropdown-menu animated fadeInRight m-t-xs">
                <li><%= link_to "Mudar Senha", edit_usuario_registration_path %>
                </li>
                <li class="divider"></li>
                <li><li><%= link_to " Encerrar Sessão", destroy_usuario_session_path, method: :delete, :class => "fa fa-sign-out"%></a></li>
              </ul>
            </div>
            <div class="logo-element">
              <img src="<%= image_url 'landing/papelada-emprestimos.jpg' %>" class="img-responsive">
            </div>
          </li>

          <li class="<%= is_active_action('contas') %>">
            <%= link_to "Página Inicial &nbsp; <i class='fa fa-home'></i>".html_safe, root_path %>
          </li>

          <li class="<%= is_active_action('contas') %>">
            <%= link_to "Dados da Conta &nbsp; <i class='fa fa-file'></i>".html_safe, contas_path %>
          </li>

          <li class="<%= is_active_action('depositos') %>">
            <%= link_to "Realizar Depósito &nbsp; <i class='fa fa-arrow-up'></i>".html_safe, new_deposito_path %>
          </li>

          <li class="<%= is_active_action('saques') %>">
            <%= link_to "Saques &nbsp; <i class='fa fa-arrow-down'></i>".html_safe, new_saque_path %>
          </li>

          <li class="<%= is_active_action('transferencias') %>">
            <%= link_to "Transferências &nbsp; <i class='fa fa-exchange'></i>".html_safe, new_transferencia_path %>
          </li>

          <li>
            <%= link_to "Encerrar Sessão &nbsp; <i class='fa fa-sign-out'></i>".html_safe, destroy_usuario_session_path, method: :delete %>
          </li>

        </ul>
      </div>
    </nav>
  <% end %> 