<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header col-xs-1">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <!-- <ul class="nav navbar-top-links navbar-right pull-right">
            <li>
                <%# if !session[:empresa_id].nil? %>
                    <p><b><%#= Empresa.find(session[:empresa_id]).nome if !session[:empresa_id].blank?%></b></p>
                <%# end %>
            </li>
        </ul> -->
    </nav>
</div>

<!-- <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
<span class="sr-only">Refreshing...</span> -->