<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="manifest" href="/manifest.json" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= !Empresa.first.nil? ? Empresa.first.nome : "Cadastre a Empresa" %></title>
        <%= favicon_link_tag image_path('landing/papelada-emprestimos.jpg') %>
        <!-- Main css styles -->
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

        <!-- Main javascript files -->
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>


        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    </head>
    <body>
        <% if !current_usuario.nil? %>
            <!-- Wrapper-->
            <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

                <!-- Navigation -->
                <%= render 'layouts/navigation' %>

                <!-- Navigation -->
                <%#= render 'layouts/skinconfig' %>

                <!-- Page wraper -->
                <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

                    <!-- Page wrapper -->
                    <%= render 'layouts/topnavbar' %>

                    <!-- Main view  -->
                    <%= yield %>

                    <!-- Footer -->
                    <%= render 'layouts/footer' %>
                </div>
            </div>

            <%= yield :javascript %>

        <% end %>
    </body>
</html>
