<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="aEu9M58Q40UmWEuMaR8STmDhOK_mudBZ8N_hvANibY4" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= !Empresa.first.nil? ? Empresa.first.nome : "Cadastre a Empresa" %></title>
    <%= favicon_link_tag image_path('landing/papelada-emprestimos.jpg') %>
    <%#= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">

  </head>
  <body style="background-color: white;">
    <%#= render template: 'landing/index' %>
    <%= hidden_field_tag :logar, value: params[:logar], id: 'logar'  %>
    <div class="middle-box text-center loginscreen  animated fadeInDown">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="col-login">
          <img alt="image"  src="<%= image_path 'dashboard-emprestimos.jpg' %>" style='width:70%; height: auto;'>
          <div class="ibox-content">
            <%= yield %>
            <%= yield :javascript %>      
            <p class="m-t"><small>© Copyright <%= Date.today.year %> por <b><a href="https://www.instagram.com/nobe_tecnology" target="_blank">Nobe Tecnology</a></b>.</small></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

