<!DOCTYPE html>
<html>
    <head>
        <meta name="google-site-verification" content="aEu9M58Q40UmWEuMaR8STmDhOK_mudBZ8N_hvANibY4" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= !Empresa.first.nil? ? Empresa.first.nome : "Cadastre a Empresa" %></title>
        <!-- Main javascript files -->
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        
        <%= favicon_link_tag image_path('landing/ico-60x60.png') %>

        <!-- Main css styles -->
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

        <%= csrf_meta_tags %>
        <link rel="manifest" href="/manifest.json" />
        <meta name="apple-mobile-web-app-capable" content="yes">

    </head>
    <body class="gray-bg">
        <% if @noticia_fechar_pedido != nil %>
            <script type="text/javascript">
                Swal.fire(
                    'Pedido confirmado com sucesso!',
                    'Acompanhe as informações de seus pedidos nessa tela.',
                    'success'
                )
            </script>
        <% end %>
        <%= yield %>
        <%= yield :javascript %>

    </body>
</html>
